<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301710766499-4ejnj2svcgu24rks3ffqaog6ij8egcts.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301710766499-4ejnj2svcgu24rks3ffqaog6ij8egcts</string>
	<key>API_KEY</key>
	<string>AIzaSyDSzoCbMIY_EypB_yaJeHKkd12Xo_fj48c</string>
	<key>GCM_SENDER_ID</key>
	<string>301710766499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.victorbejarano.shoppingCart</string>
	<key>PROJECT_ID</key>
	<string>shoppingcart-978f0</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppingcart-978f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301710766499:ios:5e353a6afa7fb74ca62a16</string>
</dict>
</plist>